@use '../lib/funcs';

#extra {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 1 auto;
}

#activities {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.activity {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  color: funcs.palette(bg);
  position: relative;
  cursor: pointer;

  &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    border-radius: inherit;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: transparentize(funcs.palette(secondary-1-light), 0.40);
    opacity: 1;
    transition: opacity 1s ease;
  }

  &:hover {
    &:after {
      opacity: 0;
    }

    .activity-bg {
      filter: grayscale(50%);
    }
  }
}

.activity-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  border-radius: inherit;
  border: funcs.palette(secondary-1-light) solid 3px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

.activity-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
  font-size: 2rem;
  width: 100%;
}

#extra-gallery {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 4rem;
  overflow: auto;
  background-color: #000000;
  background-color: #00000099;
}

#gallery-content {
  background-color: funcs.palette(fg);
  color: funcs.palette(bg);
  padding: 2rem;
  display: flex;
  height: 100%;
  flex-direction: row;
}

#words-pics {
  display: flex;
  flex-direction: column;
  flex: 2 2 0px;
  width: 40%;
}

#extra-gallery-picture {
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  flex: 3 3 0px;
  transition: opacity 1.5s ease-out;
}

#extra-gallery-picture.fade {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}
