#personal {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 1 auto;
}

#project {
  width: 100%;
  height: 100%;
}

#project-bubbles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
