@use "../../assets/sass/lib/funcs";

#extra-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 1 auto;
}

#activities {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
