@use "../../assets/sass/lib/funcs";

#copy-email {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  background-color: funcs.palette(secondary-1-light);
  transition: opacity 0.75s ease;
  color: funcs.palette(bg);
  border-radius: 0.5rem;
}
